pbr>=0.6,!=0.7,<1.0
# Horizon Core Requirements
Django<1.9,>=1.8 # BSD
django_compressor>=2.0 # MIT
django_openstack_auth>=2.0.0 # Apache-2.0
eventlet>=0.13.0
iso8601>=0.1.9
netaddr>=0.7.6
python-keystoneclient>=0.9.0
python-solumclient>=1.2.7 # Apache-2.0
pytz>=2010h
# Horizon Utility Requirements
# for SECURE_KEY generation
lockfile>=0.8

oslo.utils>=3.5.0  # Apache-2.0
